@using System.Net.Http.Json
@using Data
@using System.Text
@using System.Text.Json
@using Data.Trabajador;
@using Reportes;

@page "/ListaTrabajador"
@inject HttpClient Http
@inject SharedStateService SharedState
@inject IJSRuntime js

<h3>Lista de Trabajadores</h3>
<h3>Sede: @SharedState.CodEmisor</h3>

<button type="button" class="btn btn-success mb-2" @onclick="@GenerarReporte">Generar reporte</button>

@if (trabajadorApiE != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellido materno</th>
                <th>Apellido paterno</th>
                <th>Genero</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in trabajadorApiE)
            {
                <tr>
                    <td>@item.Identificacion</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellido_Materno</td>
                    <td>@item.Apellido_Paterno</td>
                    <td>@item.Genero</td>
                    <td>@item.Remuneracion_Minima</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Loading...</p>
}

@code {

    private List<Trabajador> trabajadorApiE = new List<Trabajador>();

    private async Task GetTrabajadorData()
    {
        var apiName = $"api/Varios/TrabajadorSelect?sucursal={SharedState.CodEmisor}";

        try
        {
            trabajadorApiE = await Http.GetFromJsonAsync<List<Trabajador>>(apiName);
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Error al obtener datos del usuario: {e.Message}");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetTrabajadorData();
    }

    private async void GenerarReporte()
    {
        var xls = new ReporteControlador();
        await xls.GenerarReporteTrabajador(js, trabajadorApiE, $"ReporteTrabajadoresSucursal{SharedState.CodEmisor}.xlsx", SharedState.CodEmisor);
    }

}